.custom-toggler.navbar-toggler {
    border-color: rgba(104, 2, 2, 0.616);
    border-style: solid;
    border-width: 5px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(104, 2, 2, 0.616)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: unset;
}