<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/introduction.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="assets/images/photo.jpg" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">Valérie TIBERGHIEN</div>
                    <p class="category text-white">Dévelopeur FullStack Angular / Symfony</p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="" data-aos-anchor="data-aos-anchor">Contactez Moi</a>
                    <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="" data-aos-anchor="data-aos-anchor">Télécharger CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/tiberghienvalerie/" target="_blank" rel="tooltip" title="Suivez-moi sur Linkedin">
                            <i class="fab fa-linkedin fa-4x "></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/TiberghienValerie" target="_blank" rel="tooltip" title="Suivez-moi Github">
                            <i class="fab fa-github fa-4x "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>