<div class="section" id="skillpro">
    <div class="container">
        <div class="h4 text-center mb-4 title">Compétences professionnelles</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    <div>
                        <ul>
                        <li *ngFor="let m of skillpro | split">{{m}}</li>
                        </ul>
                    </div>
                    </div>
          
        </div>
    </div>
</div>

