<footer class="footer">
    <div class="container text-center">
        <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/tiberghienvalerie/" target="_blank" title="Suivez-moi sur Linkedin">
            <i class="fab fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/TiberghienValerie" target="_blank" title="Suivez-moi Github">
            <i class="fab fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
    <div class="text-center text-muted">
        <p>&copy; Tous droits réservés.</p>
    </div>
</footer>
